.App {
  text-align: center !important;
}

form {
  padding: 20px;
  position: fixed;
  bottom: 20px;
  z-index: 1;
  background-color: #e9e9eb;
  width: 96%;
  margin: 20px;
}

.formControl {
  display: flex !important;
  flex-direction: row !important;
}

.input {
  flex: 1;
}

.iconButton {
  width: 30px;
}

.messages {
  margin-bottom: 150px !important;
}

.form-background {
  background-color: black !important;
}
